<section id="fh5co-home" data-section="home" data-stellar-background-ratio="0.5">
	<div class="gradient">
		<video preload="preload" id="video" autoplay="autoplay" loop="loop">
				<source src="" type="video/mp4"></source>
				<!-- Pick a random video from the array of videoURLs -->
				<script>
					// I'm not about to make mobile users download 5MB background videos...
					if (! /Mobi/.test(navigator.userAgent)) {
						// If we reach the code below, we're not running on a mobile device
						var videoURLs = {{.Site.Params.hero.videoURLs}};
						var num = Math.floor((Math.random() * videoURLs.length));
						document.querySelector("#video > source").src = videoURLs[num];
					}
				</script>
			</video>
	</div>
	<div class="container">
		<div class="text-wrap">
			<div class="text-inner">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="to-animate">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</h1>
						<h2 class="to-animate">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="slant"></div>
</section>
